canvas {
    background-color: #dff;
    default-points: false;
    default-lines: false;
}

/* base colors and widths */
relation[boundary=administrative] > way {
    color: #ddd;
    width: 1;
    dashes: 12,2,4,2;
}

way[highway] {
    color: #bbb;
    width: 1;
}
way[highway=motorway] {
    width: 4;
}
way[highway=primary], way[highway=secondary] {
    width: 2;
}
way|z1-12[highway=residential],
way|z1-15[highway=footway],
way|z1-15[highway=path],
way|z1-15[highway=track],
way|z1-15[highway=moving_walkway],
way|z1-15[highway=pedestrian],
way|z1-15[highway=service] {
    width: 0;
}

/* value-specific styles */

way[highway][maxspeed] {
    color: red;
    dashes: 9,3,3,3;
    z-index: 1;
}
way[highway][maxspeed=~/mph$/] {
    color: blue;
    dashes: 0;
    z-index: 1;
}
way[highway][maxspeed=~/^1. mph$/] {
    color: #419E08;
}
way[highway][maxspeed=~/^2. mph$/] {
    color: #6F9E08;
}
way[highway][maxspeed=~/^3. mph$/] {
    color: #AFB509;
}
way[highway][maxspeed=~/^4. mph$/] {
    color: #B59309;
}
way[highway][maxspeed=~/^5. mph$/] {
    color: #C27B0A;
}
way[highway][maxspeed=~/^6. mph$/] {
    color: #C2560A;
}
way[highway][maxspeed=~/^7. mph$/] {
    color: #C21F0A;
}
way[highway][maxspeed=~/^8. mph$/] {
    color: #A6073F;
}

* {
   fill-color: none;
   text-color: none;
}
